/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
  font-family: 'Oswald', sans-serif;

}
body {
  background-color: #191C4C;
}

.titleArea {
  padding-bottom: 20px;
}

#avengersLogo {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.gameArea {
  color: white;
  text-align: center;
  background-color: rgba(50,57,153,0.98);
  position: relative;
  padding-bottom: 20px;
}

#getStarted {
  font-size: 23px;
  padding: 40px;
  line-height: 1.4em;
}

#wordToGuess {
  margin: 0px auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px 20px 20px;
}

#wrongGuesses {
  background: rgb(38, 44, 119);
  width: 80%;
  border-radius: 12px;
  text-align: left;
  color: rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  overflow: hidden;
}

#wrongGuesses p {
  padding: 0 20px;
}

#wrongLetters {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 8px;
  font-weight: 300;
  background: #191C4C;
  flex: 1;
  text-align: left;
  padding: 10px 20px;
  min-height: 22px;
}

.letterSpace {
  font-size: 32px;
  line-height: 60px;
  display: inline-block;
  padding: 4px;
  background: rgba(255,255,255,0.9);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  margin-right: 8px;
  width: 40px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #191C4C;
  margin-bottom: 10px;
  border-radius: 6px;
}

.noBorder {
  border: none;
  width: 12px;
  background: none;
  box-shadow: none;
}

.wordWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  border-top: solid 3px white;
  padding: 12px;
  color: white;
  text-align: center;
  margin: 20px auto;
  font-size: 1.6em;
  text-transform: uppercase;
  line-height: 1.3em;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  height: 3px;
  background: white;
  width: 50%;
  bottom: -4px;
  left: 25%;
  position: absolute;
} 

p {
  font-weight: 300;
}

#scoreArea {
  display: flex;
  flex-direction: row;
  width: calc(80% - 40px);
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
}

#lives, #scoreBoard {
  display: flex;
  flex: 1;
}

#scoreBoard {
  justify-content: flex-end;
}

#scoreArea p {
  padding-right: 1em;
}

#scoreBoard div:first-of-type {
  padding-right: 1em;
}

#wins, #losses {
  padding: 0 10px;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

#responseImageContainer {
  position: relative;
  padding-top: 40px;
  width: 50%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
}

#responseImageCard {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease-in-out;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  backface-visibility: hidden;
}

.front img, .back img {
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg);
  background: black;
}

.winCard, .loseCard {
  opacity: 0;
  transition: opacity .25s ease;
  position: absolute;
}

.responseText {
  position: absolute;
  bottom: 20%;
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 10px 6px;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  text-align: center;
  line-height: 1.2em;
}


#livesIcons i {
  margin-right: 10px;
}

#responseImageContainer #responseImageCard.correct {
  transform: rotateY(180deg);
}

#responseImageContainer #responseImageCard.correct .winCard {
  opacity: 1;
}

#responseImageContainer #responseImageCard.incorrect .loseCard {
  opacity: 1;
}

#responseImageContainer #responseImageCard.incorrect {
  transform: rotateY(-180deg);
}