
html, body {
  width: 100%;
  height: 100%;
}

body {
  background: url('../images/train-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 18px;
}

.wrapper {
  margin: 50px auto;
  max-width: 1024px;
}

#trainSchedule {
  background-color: rgba(8, 13, 15, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-left: solid 5px rgb(226, 189, 91);
  box-shadow: 4px 0 25px rgba(0,0,0,0.8);
  padding: 10px 0 10px 0;
}

.title {
  background: linear-gradient(
    to right, 
    rgb(226, 189, 91) 0%, 
    rgb(226, 189, 91) 85%,
    rgb(2,133,147) 85%,
    rgb(2,133,147) 95%, 
    rgb(255,255,255) 95%,
    rgb(255,255,255) 100%
  );
  display: inline-block;
  padding: 20px 60px 20px 20px;
  font-size: 1.5em;
  color: rgb(28,34,32);
  font-weight: 700;
  text-transform: uppercase;
}

#trains {
  width: 100%;
}

.trainRowHeader {
  font-weight: 700;
  background-color: rgb(8, 13, 15);
}

.trainRow, .trainRowHeader  {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.trainRow div, .trainRowHeader div {
  flex: 1;
  text-align: left;
}

.trainRow:nth-of-type(even) {
  background-color: rgba(109,183,192, 0.05);
  border-top: solid 1px rgba(109,183,192, 0.3);
  border-bottom: solid 1px rgba(109,183,192, 0.3);
}

.trainRowHeader .trainName, .trainRow .trainName, .trainRowHeader .trainDestination, .trainRow .trainDestination {
  flex: 1.5;
}

.editSettings {
  max-width: 120px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

label {
  font-size: 0.7em;
  letter-spacing: 1px;
  text-indent: 10px;
  width: 100%;
}

input {
  padding: 10px;
  margin-top: 10px;
  border: none;
  font-size: 1em;
  background: black;
  color: white;
  border-bottom: solid 2px white;
  width: calc(100% - 20px);
  min-width: 160px;
}

input::placeholder {
  color: rgba(255,255,255,0.6);
}

input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  font-size: .8em;
}

button i {
  font-size: 1.4em;
}

.formColumn {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
}

.formGroup {
  padding: 10px 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  text-align: left;
}

.formControls {
  flex: 1;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.formControls button {
  color: white;
  background: rgba(2,133,147,0.5);
  margin-left: 20px;
  border: solid 1px rgba(2,133,147, 1);
  font-size: .9em;
  padding: 8px 14px;
}

.formControls button:hover, #add-train:hover {
  color: white;
  background: rgb(2,133,147);
}

.formControls button:active, #add-train:active {
  color: white;
  background: rgb(2, 90, 100);
}

.update, .cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formControls .cancel {
  background: rgba(2,133,147, 0.1);
  border: solid 1px rgba(2,133,147, 0.6);
}

.edit, .delete {
  color: rgba(2,133,147, 0.8);
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
}

.update span, .cancel span {
  padding: 8px;
  font-size: .8em;
}

.edit:hover, .delete:hover {
  color: rgb(9, 169, 187);
}

button:focus {
  outline: none;
}


#add-train {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  background: rgb(2,133,147);
  color: white;
  margin: 20px;
}

#add-train i {
  font-size: 1em;
  padding-left: 10px;
}

#add-train:hover {
  color: white;
  background: rgb(14, 188, 207);
}

#add-train:active {
  color: white;
  background: rgb(2, 90, 100);
}